# Finding Station Locations

## Import the libraries

In [44]:
import pandas as pd
import numpy as np
import sys

print("Python Version:", sys.version)
print("Pandas Version:", pd.__version__)
print("Numpy Version:", np.__version__)

Python Version: 3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas Version: 0.20.3
Numpy Version: 1.14.0

## Read in the data
### Read in station location data
We pulled station location data from the MTA website

In [45]:
stations = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')
stations.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575

### Read in our cleaned turnstile data

In [46]:
turns = pd.read_pickle('data/cleaned_turnstile_data.pkl')
turns.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,entries_diff,exit_diff,first_row_group,entries_outlier,exit_outlier,week,hour,timegroup,timegroupstr,wkdaynbr
54505,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,04:00:00,REGULAR,338971959,...,89.0,12.0,False,False,False,12,4,1,12am - 4am,6
54506,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,08:00:00,REGULAR,338971992,...,33.0,7.0,False,False,False,12,8,2,4am - 8am,6
54507,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,12:00:00,REGULAR,338972160,...,168.0,51.0,False,False,False,12,12,3,8am - 12pm,6
54508,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,16:00:00,REGULAR,338972687,...,527.0,60.0,False,False,False,12,16,4,12pm - 4pm,6
54509,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,20:00:00,REGULAR,338973443,...,756.0,47.0,False,False,False,12,20,5,4pm - 8pm,6

### Read in a join table

As you might have noticed, there is not common field to merge the stations data with our turnstile data :( But don't worry!! We found a super handy table that links the station ID from the stations table to a booth id which corresponds to the control area id (c/a) in our turnstile data (Yay!!!) 

Let's read in that join table

*File downloaded from: https://docs.google.com/spreadsheets/d/10sz0xWODQ02Kemx6ovS0NLQ_gA0YV9YQtdD7uiCcyjI/edit?usp=sharing&authkey=CMTzrvwE*

In [47]:
join_table = pd.read_csv('data/Remote-Booth-Station - turnstiles 2013.csv')
join_table.head()

  Remote Booth stop_id.2013   Station.2013 Line.2013 Division.2013
0   R051  A002          R11  LEXINGTON AVE    456NQR           BMT
1   R050  A004          R11  LEXINGTON AVE    456NQR           BMT
2   R079  A006          R13    5 AVE-59 ST       NQR           BMT
3   R079  A007          R13    5 AVE-59 ST       NQR           BMT
4   R080  A010          R14    57 ST-7 AVE       NQR           BMT

## Join the turnstile data with station locations

### Join the stations data with our join file to get booth id

In [48]:
stations_booth = pd.merge(join_table ,stations,how='left',left_on='stop_id.2013',right_on='GTFS Stop ID')
stations_booth.head()

,Remote,Booth,stop_id.2013,Station.2013,Line.2013,Division.2013,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,R051,A002,R11,LEXINGTON AVE,456NQR,BMT,7.0,613.0,R11,BMT,Astoria,Lexington Av/59 St,M,N W R,Subway,40.762660,-73.967258
1,R050,A004,R11,LEXINGTON AVE,456NQR,BMT,7.0,613.0,R11,BMT,Astoria,Lexington Av/59 St,M,N W R,Subway,40.762660,-73.967258
2,R079,A006,R13,5 AVE-59 ST,NQR,BMT,8.0,8.0,R13,BMT,Astoria,5 Av/59 St,M,N W R,Subway,40.764811,-73.973347
3,R079,A007,R13,5 AVE-59 ST,NQR,BMT,8.0,8.0,R13,BMT,Astoria,5 Av/59 St,M,N W R,Subway,40.764811,-73.973347
4,R080,A010,R14,57 ST-7 AVE,NQR,BMT,9.0,9.0,R14,BMT,Broadway - Brighton,57 St - 7 Av,M,N Q R W,Subway,40.764664,-73.980658

In [49]:
missing = stations_booth['GTFS Latitude'].isnull().sum()

print("We're missing the stop id in our join table for {} stations".format(missing))
print("...but we have booth data for {} of our total stations!".format(round((len(stations_booth)-missing)/len(stations_booth),2)))

We're missing the stop id in our join table for 41 stations
...but we have booth data for 0.95 of our total stations!

### Join the turnstile data with our stations data

In [50]:
turns_loc = pd.merge(turns, stations_booth, how='inner',left_on='c/a',right_on='Booth')
turns_loc.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,04:00:00,REGULAR,338971959,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739
1,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,08:00:00,REGULAR,338971992,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739
2,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,12:00:00,REGULAR,338972160,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739
3,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,16:00:00,REGULAR,338972687,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739
4,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,20:00:00,REGULAR,338973443,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739

In [51]:
missing_t = turns_loc['GTFS Latitude'].isnull().sum()

print("We're missing the corresponding c/a id for {} turnstile records".format(missing_t))
print("...but we have location data for {} of our total turnstile records!".format(round((len(turns_loc)-missing_t)/len(turns_loc),2)))

We're missing the corresponding c/a id for 369104 turnstile records
...but we have location data for 0.93 of our total turnstile records!

Check out the station names from the turnstile data and station loc data to make sure they agree

In [52]:
diff_stations = [(x, y) for x, y in zip(turns_loc['station'], turns_loc['Stop Name'])]
set(diff_stations)

{('8 AV', '8 Av'),
 ('HOYT ST', 'Hoyt St'),
 ('207 ST', '207 St'),
 ('FLATBUSH AV-B.C', 'Flatbush Av - Brooklyn College'),
 ('WESTCHESTER SQ', 'Westchester Sq - E Tremont Av'),
 ('CITY / BUS', nan),
 ('ROOSEVELT ISLND', 'Roosevelt Island'),
 ('QUEENS PLAZA', 'Queens Plaza'),
 ('176 ST', '176 St'),
 ('5 AV/53 ST', '5 Av/53 St'),
 ('RIT-ROOSEVELT', nan),
 ('COURT SQ', 'Court Sq'),
 ('CHAMBERS ST', 'Chambers St'),
 ('47-50 STS ROCK', '47-50 Sts - Rockefeller Ctr'),
 ('FRESH POND RD', 'Fresh Pond Rd'),
 ('DELANCEY/ESSEX', 'Delancey St'),
 ('155 ST', '155 St'),
 ('FT HAMILTON PKY', 'Fort Hamilton Pkwy'),
 ('MARBLE HILL-225', 'Marble Hill - 225 St'),
 ('SENECA AVE', 'Seneca Av'),
 ('TREMONT AV', 'Tremont Av'),
 ('15 ST-PROSPECT', '15 St - Prospect Park'),
 ('INTERVALE AV', 'Intervale Av'),
 ('AVENUE N', 'Avenue N'),
 ('JAMAICA 179 ST', 'Jamaica - 179 St'),
 ('BEDFORD PK BLVD', 'Bedford Park Blvd - Lehman College'),
 ('NASSAU ST', 'Nassau Av'),
 ('238 ST', '238 St'),
 ('CROWN HTS-UTICA', 'Crown Hts - Utica Av'),
 ('215 ST', '215 St'),
 ('FAR ROCKAWAY', 'Far Rockaway - Mott Av'),
 ('183 ST', '183 St'),
 ('BRIARWOOD', 'Briarwood - Van Wyck Blvd'),
 ('PROSPECT AV', 'Prospect Av'),
 ('145 ST', '145 St'),
 ('6 AV', '6 Av'),
 ('9 AV', '9 Av'),
 ('21 ST', '21 St'),
 ('21 ST-QNSBRIDGE', '21 St - Queensbridge'),
 ('JUNIUS ST', 'Junius St'),
 ('55 ST', '55 St'),
 ('14 ST', '14 St'),
 ('BRIGHTON BEACH', 'Brighton Beach'),
 ('BEDFORD AV', 'Bedford Av'),
 ('MARCY AV', 'Marcy Av'),
 ('QUEENSBORO PLZ', nan),
 ('49 ST', '49 St'),
 ('SHEEPSHEAD BAY', 'Sheepshead Bay'),
 ('CENTRAL PK N110', 'Central Park North (110 St)'),
 ('NEWARK HM HE', nan),
 ('66 ST-LINCOLN', '66 St - Lincoln Center'),
 ('JFK JAMAICA CT1', nan),
 ('RECTOR ST', 'Rector St'),
 ('36 ST', 'Beach 36 St'),
 ('KEW GARDENS', 'Kew Gardens - Union Tpke'),
 ('18 AV', '18 Av'),
 ('CASTLE HILL AV', 'Castle Hill Av'),
 ('E 180 ST', 'E 180 St'),
 ('BEACH 60 ST', 'Beach 60 St'),
 ('LEXINGTON AV/63', 'Lexington Av/63 St'),
 ("E 143/ST MARY'S", "E 143 St - St Mary's St"),
 ('BAY RIDGE-95 ST', 'Bay Ridge - 95 St'),
 ('79 ST', '79 St'),
 ('METROPOLITAN AV', 'Metropolitan Av'),
 ('HARRISON', nan),
 ('3 AV-149 ST', '3 Av - 149 St'),
 ('V.CORTLANDT PK', 'Van Cortlandt Park - 242 St'),
 ('FORDHAM RD', 'Fordham Rd'),
 ('DITMAS AV', 'Ditmas Av'),
 ('GRAND-NEWTOWN', 'Grand Av - Newtown'),
 ('14 ST-UNION SQ', '14 St - Union Sq'),
 ('BEVERLEY ROAD', 'Beverley Rd'),
 ('FRANKLIN ST', 'Franklin St'),
 ('CARROLL ST', 'Carroll St'),
 ('PAVONIA/NEWPORT', nan),
 ('DYCKMAN ST', 'Dyckman St'),
 ('86 ST', '86 St'),
 ('9TH STREET', nan),
 ('34 ST-HERALD SQ', '34 St - Herald Sq'),
 ('168 ST', '168 St - Washington Hts'),
 ('BAY 50 ST', 'Bay 50 St'),
 ('96 ST', '96 St'),
 ('NASSAU AV', 'Nassau Av'),
 ('36 ST', '36 St'),
 ('ST LAWRENCE AV', 'St Lawrence Av'),
 ('121 ST', '121 St'),
 ('AVENUE X', 'Avenue X'),
 ('74 ST-BROADWAY', '74 St - Broadway'),
 ('GATES AV', 'Gates Av'),
 ('JOURNAL SQUARE', nan),
 ('FOREST AVE', 'Forest Av'),
 ('CORTELYOU RD', 'Cortelyou Rd'),
 ('FOREST HILLS 71', 'Forest Hills - 71 Av'),
 ('KOSCIUSZKO ST', 'Kosciuszko St'),
 ('BOWLING GREEN', 'Bowling Green'),
 ('NEWARK BM BW', nan),
 ('YORK ST', 'York St'),
 ('W 4 ST-WASH SQ', nan),
 ('DELANCEY/ESSEX', 'Essex St'),
 ('MORISN AV/SNDVW', 'Morrison Av- Sound View'),
 ('219 ST', '219 St'),
 ('157 ST', '157 St'),
 ('135 ST', '135 St'),
 ('FLUSHING-MAIN', 'Flushing - Main St'),
 ('45 ST', '45 St'),
 ('61 ST WOODSIDE', 'Woodside - 61 St'),
 ('BEACH 36 ST', 'Beach 36 St'),
 ('BROOK AV', 'Brook Av'),
 ('CRESCENT ST', 'Crescent St'),
 ('57 ST-7 AV', '57 St - 7 Av'),
 ('42 ST-BRYANT PK', '42 St - Bryant Pk'),
 ('EAST BROADWAY', 'East Broadway'),
 ('75 AV', '75 Av'),
 ('FLUSHING AV', 'Flushing Av'),
 ('GRANT AV', 'Grant Av'),
 ('ST. GEORGE', 'St George'),
 ('LAFAYETTE AV', 'Lafayette Av'),
 ('METS-WILLETS PT', 'Mets - Willets Point'),
 ('ASTOR PL', 'Astor Pl'),
 ('BAY RIDGE AV', 'Bay Ridge Av'),
 ('145 ST', nan),
 ('HUNTS POINT AV', 'Hunts Point Av'),
 ('80 ST', '80 St'),
 ('CATHEDRAL PKWY', 'Cathedral Pkwy'),
 ('85 ST-FOREST PK', '85 St - Forest Pkwy'),
 ('46 ST BLISS ST', '46 St'),
 ('PARK PLACE', 'Grand Central - 42 St'),
 ('NORWOOD AV', 'Norwood Av'),
 ('NEPTUNE AV', 'Neptune Av'),
 ('ALABAMA AV', 'Alabama Av'),
 ('JUNCTION BLVD', 'Junction Blvd'),
 ('190 ST', '190 St'),
 ('BROOKLYN BRIDGE', 'Brooklyn Bridge - City Hall'),
 ('MONTROSE AV', 'Montrose Av'),
 ('53 ST', '53 St'),
 ('NEW LOTS', 'New Lots Av'),
 ('EASTN PKWY-MUSM', 'Eastern Pkwy - Brooklyn Museum'),
 ('CHURCH AV', 'Church Av'),
 ('BEACH 25 ST', 'Beach 25 St'),
 ('PELHAM PKWY', 'Pelham Pkwy'),
 ('BROAD ST', 'Broad St'),
 ('BROADWAY JCT', 'Broadway Jct'),
 ('STEINWAY ST', 'Steinway St'),
 ('4 AV-9 ST', '4 Av'),
 ('WOODLAWN', 'Woodlawn'),
 ('175 ST', '175 St'),
 ('191 ST', '191 St'),
 ('181 ST', '181 St'),
 ('5 AV/59 ST', '5 Av/59 St'),
 ('FULTON ST', 'Fulton St'),
 ('169 ST', '169 St'),
 ('88 ST', '88 St'),
 ('MOSHOLU PKWY', 'Mosholu Pkwy'),
 ('ASTORIA BLVD', 'Astoria Blvd'),
 ('1 AV', '1 Av'),
 ('LORIMER ST', 'Lorimer St'),
 ('59 ST', '59 St'),
 ('BAYCHESTER AV', 'Baychester Av'),
 ('AVENUE M', 'Avenue M'),
 ('BROAD CHANNEL', 'Broad Channel'),
 ('CONEY IS-STILLW', 'Coney Island - Stillwell Av'),
 ('AQUEDUCT RACETR', 'Aqueduct - N Conduit Av'),
 ('182-183 STS', '182-183 Sts'),
 ('CLARK ST', 'Clark St'),
 ('METROPOLITAN AV', 'Middle Village - Metropolitan Av'),
 ('225 ST', '225 St'),
 ('8 ST-NYU', '8 St - NYU'),
 ('PRINCE ST', 'Prince St'),
 ('CANAL ST', 'Canal St'),
 ('AVENUE P', 'Avenue P'),
 ('30 AV', '30 Av'),
 ('67 AV', '67 Av'),
 ('68ST-HUNTER CO', '68 St - Hunter College'),
 ('BEACH 90 ST', 'Beach 90 St'),
 ('SMITH-9 ST', 'Smith - 9 Sts'),
 ('CANARSIE-ROCKAW', 'Canarsie - Rockaway Pkwy'),
 ('CLEVELAND ST', 'Cleveland St'),
 ('50 ST', '50 St'),
 ('BEACH 98 ST', nan),
 ('HARLEM 148 ST', 'Harlem - 148 St'),
 ('BRONX PARK EAST', 'Bronx Park East'),
 ('LIVONIA AV', 'Livonia Av'),
 ('50 ST', 'Bay 50 St'),
 ('NECK RD', 'Neck Rd'),
 ('NEWKIRK AV', 'Newkirk Av'),
 ('163 ST-AMSTERDM', '163 St - Amsterdam Av'),
 ('25 ST', '25 St'),
 ('SUTPHIN-ARCHER', 'Sutphin Blvd'),
 ('NORWOOD 205 ST', 'Norwood - 205 St'),
 ('KINGSTON-THROOP', 'Kingston - Throop Avs'),
 ('25 AV', '25 Av'),
 ('ROCKAWAY PARK B', 'Rockaway Park - Beach 116 St'),
 ('14TH STREET', '14 St'),
 ('MORGAN AV', 'Morgan Av'),
 ('NEWKIRK PLAZA', 'Newkirk Plaza'),
 ('ASTORIA DITMARS', 'Astoria - Ditmars Blvd'),
 ('WHITLOCK AV', 'Whitlock Av'),
 ('CYPRESS AV', 'Cypress Av'),
 ('72 ST', '72 St'),
 ('BEDFORD-NOSTRAN', 'Bedford - Nostrand Avs'),
 ('104 ST', '104 St'),
 ('71 ST', '71 St'),
 ('THIRTY ST', nan),
 ('EXCHANGE PLACE', nan),
 ('33 ST', '33 St'),
 ('BURNSIDE AV', 'Burnside Av'),
 ('170 ST', '170 St'),
 ('VAN SICLEN AVE', 'Van Siclen Av'),
 ('KINGS HWY', 'Kings Hwy'),
 ('MYRTLE-WYCKOFF', 'Myrtle - Wyckoff Avs'),
 ('JAMAICA CENTER', 'Jamaica Center - Parsons/Archer'),
 ('GROVE STREET', nan),
 ('SHEPHERD AV', 'Shepherd Av'),
 ('34 ST-PENN STA', '34 St - Penn Station'),
 ('VAN SICLEN AV', 'Van Siclen Av'),
 ('161/YANKEE STAD', '161 St - Yankee Stadium'),
 ('40 ST LOWERY ST', '40 St'),
 ('BURKE AV', 'Burke Av'),
 ('AVENUE U', 'Avenue U'),
 ('WINTHROP ST', 'Winthrop St'),
 ('CHAUNCEY ST', 'Chauncey St'),
 ('36 AV', '36 Av'),
 ('NEW UTRECHT AV', 'New Utrecht Av'),
 ('33 ST-RAWSON ST', '33 St'),
 ('CITY HALL', 'City Hall'),
 ('UNION ST', 'Union St'),
 ('KINGSTON AV', 'Kingston Av'),
 ('AVENUE J', 'Avenue J'),
 ('GRAND ARMY PLAZ', 'Grand Army Plaza'),
 ('JKSN HT-ROOSVLT', 'Jackson Hts - Roosevelt Av'),
 ('231 ST', '231 St'),
 ('GRAND ST', 'Grand St'),
 ('NOSTRAND AV', 'Nostrand Av'),
 ('TIMES SQ-42 ST', 'Times Sq - 42 St'),
 ('77 ST', '77 St'),
 ('GUN HILL RD', 'Gun Hill Rd'),
 ('81 ST-MUSEUM', '81 St - Museum of Natural History'),
 ('KNICKERBOCKER', 'Knickerbocker Av'),
 ('NORTHERN BLVD', 'Northern Blvd'),
 ('STERLING ST', 'Sterling St'),
 ('GRAHAM AV', 'Graham Av'),
 ('HIGH ST', 'High St'),
 ('BUSHWICK AV', 'Bushwick Av - Aberdeen St'),
 ('SARATOGA AV', 'Saratoga Av'),
 ('SPRING ST', 'Spring St'),
 ('GREENPOINT AV', 'Greenpoint Av'),
 ('ZEREGA AV', 'Zerega Av'),
 ('CENTRAL AV', 'Central Av'),
 ('NEW LOTS AV', 'New Lots Av'),
 ('EAST 105 ST', 'E 105 St'),
 ('167 ST', '167 St'),
 ('BEACH 105 ST', nan),
 ('HEWES ST', 'Hewes St'),
 ('5 AVE', '5 Av'),
 ('AVENUE I', 'Avenue I'),
 ('103 ST', '103 St'),
 ('JAMAICA VAN WK', 'Jamaica - Van Wyck'),
 ('59 ST COLUMBUS', '59 St - Columbus Circle'),
 ('PARKSIDE AV', 'Parkside Av'),
 ('WILSON AV', 'Wilson Av'),
 ('BLEECKER ST', 'Bleecker St'),
 ('BOWERY', 'Bowery'),
 ('KINGSBRIDGE RD', 'Kingsbridge Rd'),
 ('46 ST', '46 St'),
 ('TOMPKINSVILLE', 'Tompkinsville'),
 ('CYPRESS HILLS', 'Cypress Hills'),
 ('THIRTY THIRD ST', nan),
 ('4AV-9 ST', '9 St'),
 ('2 AV', '2 Av'),
 ('ALLERTON AV', 'Allerton Av'),
 ('174-175 STS', '174-175 Sts'),
 ("B'WAY-LAFAYETTE", 'Broadway-Lafayette St'),
 ('23 ST', '23 St'),
 ('ORCHARD BEACH', nan),
 ('MYRTLE AV', 'Myrtle Av'),
 ('INWOOD-207 ST', 'Inwood - 207 St'),
 ('DEKALB AV', 'DeKalb Av'),
 ('90 ST-ELMHURST', '90 St - Elmhurst Av'),
 ('ROCKAWAY AV', 'Rockaway Av'),
 ('FREEMAN ST', 'Freeman St'),
 ('111 ST', '111 St'),
 ('ATL AV-BARCLAY', 'Atlantic Av - Barclays Ctr'),
 ('BOTANIC GARDEN', 'Botanic Garden'),
 ('PARSONS BLVD', 'Parsons Blvd'),
 ('BEDFORD PK BLVD', 'Bedford Park Blvd'),
 ('SIMPSON ST', 'Simpson St'),
 ('EUCLID AV', 'Euclid Av'),
 ('116 ST-COLUMBIA', '116 St - Columbia University'),
 ('174 ST', '174 St'),
 ('PENNSYLVANIA AV', 'Pennsylvania Av'),
 ('20 AV', '20 Av'),
 ('HALSEY ST', 'Halsey St'),
 ('WAKEFIELD/241', 'Wakefield - 241 St'),
 ('GRD CNTRL-42 ST', 'Grand Central - 42 St'),
 ('SUTTER AV', 'Sutter Av'),
 ('MORRIS PARK', 'Morris Park'),
 ('HOWARD BCH JFK', 'Howard Beach - JFK Airport'),
 ('63 DR-REGO PARK', '63 Dr - Rego Park'),
 ('82 ST-JACKSON H', '82 St - Jackson Hts'),
 ('E 149 ST', 'E 149 St'),
 ('HOYT-SCHER', 'Hoyt - Schermerhorn Sts'),
 ('CHRISTOPHER ST', 'Christopher St - Sheridan Sq'),
 ('JEFFERSON ST', 'Jefferson St'),
 ('LONGWOOD AV', 'Longwood Av'),
 ('137 ST CITY COL', '137 St - City College'),
 ('MT EDEN AV', 'Mt Eden Av'),
 ('MYRTLE-WILLOUGH', 'Myrtle - Willoughby Avs'),
 ('LACKAWANNA', nan),
 ('75 ST-ELDERTS', '75 St'),
 ('HUNTERS PT AV', 'Hunters Point Av'),
 ('PRESIDENT ST', 'President St'),
 ('ELMHURST AV', 'Elmhurst Av'),
 ('NEWARK HW BMEBE', nan),
 ('SUTTER AV-RUTLD', 'Sutter Av - Rutland Rd'),
 ('BOROUGH HALL', 'Borough Hall'),
 ('CATHEDRAL PKWY', 'Cathedral Pkwy (110 St)'),
 ('JACKSON AV', 'Jackson Av'),
 ('JAY ST-METROTEC', 'Jay St - MetroTech'),
 ('CLINTON-WASH AV', 'Clinton - Washington Avs'),
 ('TWENTY THIRD ST', nan),
 ('LEXINGTON AV/53', 'Lexington Av/53 St'),
 ('149/GRAND CONC', '149 St - Grand Concourse'),
 ('CLASSON AV', 'Classon Av'),
 ('103 ST-CORONA', '103 St - Corona Plaza'),
 ('116 ST', '116 St'),
 ('NEWARK C', nan),
 ('BAY RIDGE AV', 'Bay Ridge - 95 St'),
 ('W 8 ST-AQUARIUM', 'W 8 St - NY Aquarium'),
 ('RALPH AV', 'Ralph Av'),
 ('PROSPECT PARK', 'Prospect Park'),
 ('EASTCHSTER/DYRE', 'Eastchester - Dyre Av'),
 ('28 ST', '28 St'),
 ('PATH WTC 2', nan),
 ('PATH WTC', nan),
 ('WHITEHALL S-FRY', 'Whitehall St'),
 ('110 ST', '110 St'),
 ('69 ST', '69 St'),
 ('51 ST', '51 St'),
 ('UTICA AV', 'Utica Av'),
 ('3 AV 138 ST', '3 Av - 138 St'),
 ('OZONE PK LEFFRT', 'Ozone Park - Lefferts Blvd'),
 ('138/GRAND CONC', '138 St - Grand Concourse'),
 ('52 ST', '52 St'),
 ('59 ST', 'Lexington Av/59 St'),
 ('7 AV', '7 Av'),
 ('OCEAN PKWY', 'Ocean Pkwy'),
 ('42 ST-PORT AUTH', '42 St - Port Authority Bus Terminal'),
 ('BEACH 44 ST', 'Beach 44 St'),
 ('WALL ST', 'Wall St'),
 ('PELHAM BAY PARK', 'Pelham Bay Park'),
 ('VERNON-JACKSON', 'Vernon Blvd - Jackson Av'),
 ('SUTPHIN BLVD', 'Sutphin Blvd - Archer Av - JFK Airport'),
 ('PARK PLACE', 'Park Pl'),
 ('BEACH 67 ST', 'Beach 67 St'),
 ('ATLANTIC AV', 'Atlantic Av'),
 ('WORLD TRADE CTR', 'World Trade Center'),
 ('57 ST', '57 St'),
 ('125 ST', '125 St'),
 ('WEST FARMS SQ', 'West Farms Sq - E Tremont Av'),
 ('65 ST', '65 St'),
 ('NEVINS ST', 'Nevins St'),
 ('CORTLANDT ST', 'Cortlandt St'),
 ('COURT SQ-23 ST', 'Court Sq'),
 ('AQUEDUCT N.COND', 'Aqueduct - N Conduit Av'),
 ('PARKCHESTER', 'Parkchester'),
 ('RIT-MANHATTAN', nan),
 ('ROCKAWAY BLVD', 'Rockaway Blvd'),
 ('AVENUE H', 'Avenue H'),
 ('LIBERTY AV', 'Liberty Av'),
 ('WOODHAVEN BLVD', 'Woodhaven Blvd'),
 ('BERGEN ST', 'Bergen St'),
 ('233 ST', '233 St'),
 ('NEREID AV', 'Nereid Av'),
 ('FRANKLIN AV', 'Franklin Av'),
 ('3 AV', '3 Av'),
 ('BAY PKWY', 'Bay Pkwy'),
 ('BROADWAY', 'Broadway'),
 ('BEVERLY RD', 'Beverly Rd'),
 ('MIDDLETOWN RD', 'Middletown Rd'),
 ('HOUSTON ST', 'Houston St'),
 ('BUHRE AV', 'Buhre Av'),
 ('39 AV', '39 Av'),
 ('18 ST', '18 St'),
 ('ELDER AV', 'Elder Av')}

In [53]:
station_count = turns_loc.station.nunique()
nans = set([pair for pair in diff_stations if np.nan in pair])

print('{} Stations do not have location information: {} of total'.format(len(nans), len(nans)/station_count))

26 Stations do not have location information: 0.06951871657754011 of total

In [54]:
set(nans)

{('145 ST', nan),
 ('9TH STREET', nan),
 ('BEACH 105 ST', nan),
 ('BEACH 98 ST', nan),
 ('CITY / BUS', nan),
 ('EXCHANGE PLACE', nan),
 ('GROVE STREET', nan),
 ('HARRISON', nan),
 ('JFK JAMAICA CT1', nan),
 ('JOURNAL SQUARE', nan),
 ('LACKAWANNA', nan),
 ('NEWARK BM BW', nan),
 ('NEWARK C', nan),
 ('NEWARK HM HE', nan),
 ('NEWARK HW BMEBE', nan),
 ('ORCHARD BEACH', nan),
 ('PATH WTC', nan),
 ('PATH WTC 2', nan),
 ('PAVONIA/NEWPORT', nan),
 ('QUEENSBORO PLZ', nan),
 ('RIT-MANHATTAN', nan),
 ('RIT-ROOSEVELT', nan),
 ('THIRTY ST', nan),
 ('THIRTY THIRD ST', nan),
 ('TWENTY THIRD ST', nan),
 ('W 4 ST-WASH SQ', nan)}

## Add new column for clean Station ID for use in visualizations

In [55]:
turns_loc['station_id'] = turns_loc['Stop Name'] + turns_loc['Line']

In [56]:
turns_loc.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,station_id
0,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,04:00:00,REGULAR,338971959,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St
1,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,08:00:00,REGULAR,338971992,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St
2,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,12:00:00,REGULAR,338972160,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St
3,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,16:00:00,REGULAR,338972687,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St
4,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,20:00:00,REGULAR,338973443,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St

## Pickle the raw turnstile data with lat/longs

In [57]:
turns_loc.to_pickle('data/turns_data_locations.pkl')

## Find total entry volume by hour block of day

In [60]:
# Find total entries per hour block per station 
stations_block = turns_loc.groupby(['station_id',
                                   'GTFS Latitude',
                                   'GTFS Longitude',
                                   'wkdaynbr', 
                                   'timegroupstr', 
                                   'date'], as_index=False)[['entries_diff']].sum()

print(len(stations_block))
stations_block.sort_values(by='entries_diff', ascending=False, inplace=True)
stations_block.head(10)

507679

,station_id,GTFS Latitude,GTFS Longitude,wkdaynbr,timegroupstr,date,entries_diff
338552,Grand Central - 42 StLexington - Shuttle,40.751776,-73.976848,4,4pm - 8pm,04/20/2017,43977.0
338714,Grand Central - 42 StLexington - Shuttle,40.751776,-73.976848,5,4pm - 8pm,03/31/2017,42156.0
476741,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,2,4pm - 8pm,06/27/2017,40638.0
476891,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,04/26/2017,40582.0
476884,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,03/30/2016,40487.0
476883,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,03/29/2017,40410.0
476910,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,06/29/2016,40360.0
476896,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,05/11/2016,40182.0
476731,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,2,4pm - 8pm,05/23/2017,40050.0
476890,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,04/20/2016,39729.0

Write out to csv for Tableau viz

In [61]:
stations_block.to_csv('data/station_vol_by_hour.csv', index=False)